### Requisitos
* Las consultas mostradas abajo se tienen que ejecutar dentro de PGAdmin, db-fiddle.com o replicar dentro de software que use Postgres SQL.

### Caso Práctico

La tienda TecnoMarket quiere analizar la información de sus ventas. Para ello, tú debes crear una base de datos y realizar consultas usando:

* DDL (CREATE, ALTER, DROP)
* Cláusulas (FROM, WHERE, GROUP BY, HAVING, ORDER BY)
* Operadores lógicos (AND, OR, NOT)
* Funciones de agregado (AVG, SUM, COUNT, MAX, MIN)

Creación de Tablas

In [ ]:
CREATE TABLE Alumnos(
  id_alumno INT PRIMARY KEY,
  nombre varchar(50),
  edad INT
  );

CREATE TABLE Materias(
  id_materia INT PRIMARY KEY,
  nombre_materia VARCHAR(50),
  creditos INT
  );

CREATE TABLE Calificaciones(
  id_calificacion INT PRIMARY KEY,
  id_alumno INT,
  id_materia INT,
  calificacion DECIMAL(4,2),
  FOREIGN KEY (id_alumno) REFERENCES Alumnos(id_alumno),
  FOREIGN KEY (id_materia) REFERENCES Materias(id_materia)
  );

### Insertar Datos

In [ ]:
INSERT INTO Alumnos(id_alumno, nombre, edad) VALUES
(1, 'Ana', 18),
(2, 'Luis', 20),
(3, 'Marta', 19),
(4, 'Carlos', 21);

INSERT INTO Materias(id_materia, nombre_materia, creditos) VALUES
(1, 'Matemáticas', 5),
(2, 'Programación', 6),
(3, 'Base de Datos', 4);

INSERT INTO Calificaciones(id_calificacion, id_alumno, id_materia, calificacion) VALUES
(1, 1, 1, 9.0),
(2, 1, 2, 8.5),
(3, 2, 1, 6.0),
(4, 2, 3, 7.0),
(5, 3, 2, 9.5),
(6, 3, 3, 8.0),
(7, 4, 1, 5.5),
(8, 4, 2, 6.5);

### Consultas básicas

In [ ]:
SELECT * FROM Alumnos;

SELECT nombre, edad 
FROM Alumnos
WHERE edad > 19

### Uso de Operadores Lógicos (AND, OR, NOT)

In [ ]:
SELECT nombre, edad 
FROM Alumnos
WHERE edad > 18
	AND (nombre LIKE 'A%' OR nombre LIKE 'M%');

In [ ]:
SELECT * 
FROM Calificaciones 
WHERE NOT calificacion >= 7;

### Funciones de agregado (AVG, COUNT, SUM, MAX, MIN) + GROUP BY HAVING

Obtén el promedio de calificacion AVG de cada alumno.

In [ ]:
SELECT a.nombre,
        AVG(c.calificacion) AS promedio
FROM Calificaciones c
JOIN Alumnos a ON c.id_alumno = a.id_alumno
GROUP BY a.nombre;

Muestra cuántas calificaciones (COUNT) tiene cada materia.

SELECT m.nombre_materia,
    COUNT(c.id_calificacion) AS total_calificaciones
FROM Calificaciones c
JOIN Materias m ON c.id_materia = m.id_materia
GROUP BY m.nombre_materia;

Obtén la calificación máxima y mínima de cada materia

In [ ]:
SELECT m.nombre_materia,
        MAX(c.calificacion) AS calificacion_maxima,
        MIN(c.calificacion) AS calificacion_minima
FROM Calificaciones c
JOIN Materias m ON c.id_materia = m.id_materia
GROUP BY m.nombre_materia;

Muestra solo los alumnos con promedio mayor o igual 8, usando HAVING

In [ ]:
SELECT a.nombre,
        AVG(c.calificacion) AS promedio
FROM Calificaciones c
JOIN Alumnos a ON c.id_alumno = a.id_alumno
GROUP BY a.nombre
HAVING AVG(c.calificacion) >= 8;

### Ordenar resultados (ORDER BY)

Lista los alumnos con su promedio, ordenados del más alto al más bajo

In [ ]:
SELECT a.nombre,
        AVG(c.calificacion) AS promedio
FROM Calificaciones c
JOIN Alumnos a ON c.id_alumno = a.id_alumno
GROUP BY a.nombre
ORDER BY promedio DESC;

### Actualizar y borrar datos (UPDATE, DELETE)

Actualiza el dato de la calificación de un estudiante

In [ ]:
UPDATE Calificaciones
SET calificacion = 7.0
WHERE id_alumno = 4
    AND id_materia = 1;

Borra todas las calificaciones del alumno con id_alumno 2

In [ ]:
DELETE FROM Calificaciones
WHERE id_alumno = 2;

### Modificar estructura (ALTER) y eliminar tabla (DROP)

Agrega una columna correo a la tabla Alumnos

In [ ]:
ALTER TABLE Alumnos
ADD correo VARCHAR(100);

Elimina la tabla Calificaciones (por ejemplo, para recrearla)

DROP TABLE Calificaciones;